main {
  padding-left: 440px;
  padding-right: 440px;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 42px;
  color: #424242;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 30px;
  color: #424242;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #424242;
}

.pageTitle {
  font-family: 'Abril Fatface', cursive;
  color: #FB8500;
  font-size: 100px;
  text-align: left;
  margin-bottom: 0;
}

h3.authorInfo
{
  font-family: 'Montserrat', sans-serif;
  color: #424242;
  font-size: 30px;
  text-align: left;
  margin-top: 0;
}

figure
{
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

figcaption
{
  font-style: italic;
}
